

.sponsors {
    display: flex;
    flex-direction: row;
    margin: 50px 350px;
    justify-content: space-between;

    img {
        height: 40px
    }
}



.weblinks {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 50px auto;
    border-top: 1px solid #222;

    h5 {
        margin: auto 350px;
        margin-top: 50px;
        font: 24px Arial;
        color: #aaa;
    }

    .links {
        margin: 20px 350px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;

        .columns {
            display: flex;
            flex-direction: column;

            h6 {
                font: 20px Arial;
                color: #aaa;
                margin: 0;
            }

            ul {
                list-style: none;
                padding: 0;
                display: flex;
                flex-direction: column;
                gap: 10px;
                margin: 20px 0;

                li a {
                    font: 18px Arial;
                    color: #888;
                    cursor: pointer;
                    width: auto;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        img {
            height: 70px;
        }
    }
}



.copyrights {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid #222;
    background-color: #0f0f0f;

    .documents {
        margin-left: 350px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-items: flex-start;
        gap: 15px;
        font: 16px Arial;
        color: #888;
        cursor: default;

        .document:hover {
            cursor: pointer;
            text-decoration: underline;
        }
        span {
            font-size: 20px;
        }
    }

    .language {
        margin-right: 350px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-items: flex-end;
        gap: 10px;
        font: 16px Arial;
        color: #888;

        img {
            width: 20px;
        }
    }
}