.Header {
    position: relative;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #555;
    color: #ccc;
    justify-content: space-between;
    align-items: center;
    font: 16px Google;
    cursor: default;

    .current-time {
        margin: auto 20px;
    }

    .current-mood {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;

        img {
            height: 20px;
        }
    }

    .user-elements {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 50px;
        margin: auto 20px;

        .etherium,
        .motivation {
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;

            img {
                height: 30px;
            }

            p {
                font: 16px Timun;
            }

            .wrapper {
                position: relative;

                span {
                    position: absolute;
                    top: 45%;
                    left: 50%;
                    transform: translate(-50%, -55%);
                    font: 16px Georgia;
                    font-weight: bold;
                    color: #111;
                    pointer-events: none;
                }
            }
        }

        img {
            height: 35px;
            border-radius: 50px;
        }
    }
}