section {
    display: flex;
    flex-direction: column;
    border-right: 1px solid #555;
    color: #ccc;
    width: 250px;
    height: 470px;

    h1 {
        margin: 30px 20px;
        font: 24px Google;
    }

    .home-pages ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 0;
        margin: 0 10px;
        gap: 5px;

        li {
            display: flex;
            flex-direction: row;
            gap: 10px;
            align-items: center;
            height: 30px;
            border-radius: 7px;
            padding: 0 10px;
            border: 1px solid transparent;

            img {
                height: 18px;
                width: 20px;
            }

            p {
                font: 18px Google;
            }

            &:hover {
                background-color: #222;
                cursor: pointer;
            }

            &:active {
                background-color: #222;
                border: 1px solid #333;
            }
        }
    }

    .divider {
        margin: 35px 15px 20px 15px;
        border: 1px solid #222;
    }

    .chats,
    .projects {
        display: flex;
        flex-direction: column;
        margin: auto 15px;
        color: #999;

        .list-container {
            max-height: 200px;
            overflow-y: auto;
            padding-right: 5px;
            display: flex;
            flex-direction: column;
            gap: 5px;

            &::-webkit-scrollbar {
                width: 5px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: #333;
                border-radius: 3px;
            }

            &::-webkit-scrollbar-track {
                background-color: #151515;
            }
        }

        span {
            font: 14px Google;
            margin: 0 0 15px 0;
        }

        .chat,
        .project {
            display: flex;
            flex-direction: row;
            gap: 10px;
            align-items: center;
            height: 30px;
            padding: 0 5px;
            border: 1px solid transparent;
            border-radius: 7px;

            .name {
                font: 18px Google;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &:hover {
                background-color: #222;
                cursor: pointer;
            }

            &:active {
                background-color: #222;
                border: 1px solid #333;
            }
        }

        .chat img {
            height: 25px;
            border-radius: 50px;
        }

        .project img {
            height: 25px;
            border-radius: 7px;
        }

        .create {
            font: 14px Google;
            padding: 7px 10px;
            border-radius: 7px;
            margin: 10px 0 auto;

            &:hover {
                background-color: #222;
                cursor: pointer;
            }
        }
    }
}