.signup {
    position: relative;
    overflow: hidden;

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 94vh;
        color: #ccc;
        font-family: Arial;

        h2 {
            font: 42px Timun light;
            margin: 0px;
        }

        p {
            font: 18px Arial;
            margin-bottom: 30px;
        }

        .highlight {
            color: var(--green);
            text-decoration: none;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }

        .signup-form {
            width: 400px;
            display: flex;
            flex-direction: column;
            gap: 15px;

            .full-name {
                display: flex;
                flex-direction: row;
                gap: 15px;
            }

            input {
                width: 100%;
                padding: 7px 20px;
                border-radius: 8px;
                border: none;
                background-color: #222;
                border: 2px solid transparent;
                color: #ccc;
                font-size: 16px;
                box-sizing: border-box;

                &:-webkit-autofill {
                    -webkit-box-shadow: 0 0 0 30px #222 inset;
                }

                &::placeholder {
                    color: #888;
                }

                &:focus {
                    outline: none;
                    border: 2px solid #ccc;
                    box-shadow: 0 0 0 2px #333;
                    transition: border-color 0.3s;
                }
            }

            .message {
                margin: 10px 0 auto;
                color: #888;
                font-size: 14px;
                width: 80%;
                line-height: 1.5;

                span {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }

            .signup-btn {
                width: 100%;
                padding: 8px;
                border-radius: 10px;
                border: none;
                background-color: #222;
                color: #ccc;
                font-size: 18px;
                cursor: pointer;
                transition: all 0.3s ease;

                &:hover {
                    background-color: var(--green);
                    color: #111;
                }
            }
        }
    }

    .back-btn {
        position: absolute;
        height: 50px;
        top: 50px;
        left: 50px;
    }

    .bg-img-1 {
        position: absolute;
        bottom: 0px;
        left: -500px;
        z-index: -1;
        overflow: hidden;
        pointer-events: none;
        mix-blend-mode: screen;
    }

    .bg-img-2 {
        position: absolute;
        top: -250px;
        right: -325px;
        pointer-events: none;
        mix-blend-mode: screen;
    }

}