@font-face {
  font-family: 'Timun';
  src: url('./assets/fonts/Timun-bold.TTF');
}

@font-face {
  font-family: 'Google';
  src: url('./assets/fonts/Google.TTF');
}


:root {
  --green: #99cc66;
  --red: #b31b1b;
}

::selection {
  background-color: var(--green);
  color: #111;
}

body {
  background-color: #0f0f0f;
  margin: 0;
}

.my-toast {
  background: #111;
  color: #ccc;
  border: 2px solid #888;
  border-radius: 10px;
  font-family: Arial;
  box-shadow: 0 10px 30px #00000055;
  display: flex;
}