@font-face {
  font-family: 'Timun';
  src: url('./assets/fonts/Timun-bold.TTF');
}


:root {
  --green : #99cc66
}

::selection {
    background-color: var(--green);
    color: #111;
}

body {
  background-color: #0f0f0f;
  margin: 0;
}